* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mountains of Christmas', cursive;
}

header {
    background-image: url('background.avif');
    height: 30vh;
    opacity: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu, .order-details {
    font-size: 25px;
}

.name, .description {
    color: white;
    text-shadow:2px 2px black;
    width: fit-content;
    border-radius: 5px;
    background-image: url('green-pattern.jpg');
    padding: 10px 50px;
    margin-bottom: 2px;
}

.name {
    font-size: 3em;
}

.description {
    font-size: 1.8em;
}

.food-item {
    display: flex;
    width: 550px;
    margin: 0 auto;
    align-items: center;
}

.food-name, .food-price {
    font-weight: bold;
}

.food-details {
    padding: 20px;
}

.food-image {
    width: 100px;
    border-radius: 10px;
    margin-right: 20px;
}

.add-item{
    margin-left: auto;
    margin-right: 0;
}

.order-details {
    font-weight: bold;
    text-align: center;
    width: 550px;
    margin: 0 auto;
}

.order-item, .total-price-section{
    display: flex;
    margin-top: 30px;
    gap: 15px;
}

.order-item:last-child{
    border-bottom: black 2px solid;
}

.order-item-price, .total-price{
    margin-left: auto;
    margin-right: 0;
}

.total-price-section{
    padding-top: 15px;
    border-top: 1px black solid;
}

.complete-btn {
    margin-top: 35px;
    border: none;
    width: 100%;
    padding: 10px;
    background-color: #1B5E1A;
    font-size: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.remove-btn{
    border: none;
    background-color: white;
    cursor: pointer;
}